<!-- <!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Search Results:</title>
  </head>
  <body>
    <ul class="resultsContainer">
      <% for (const result of results) { %>
      <a href ="/results/<%= result.planID %>" class="result"}
      <li>
        <div class="row">
          <p> <%= result.planID + " " + heatedCooledSQF + " " + .</p>
        </div>
      </li>
    </ul>
  </body> -->